.social-wrapper {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  gap: 1rem;
}

.social-wrapper .icon {
  position: relative;
  background: #ffffff10;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: white;
  backdrop-filter: blur(4px);
}

.social-wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.social-wrapper .github:hover,
.social-wrapper .github:hover .tooltip,
.social-wrapper .github:hover .tooltip::before {
  background: #333;
  color: #fff;
}

.social-wrapper .linkedin:hover,
.social-wrapper .linkedin:hover .tooltip,
.social-wrapper .linkedin:hover .tooltip::before {
  background: #0077b5;
  color: #fff;
}

.social-wrapper .twitter:hover,
.social-wrapper .twitter:hover .tooltip,
.social-wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}
